* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100vw;
}

.topmost-header {
    background-color: #1C2133;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topmost-header h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    /* line-height: 88px; */
    letter-spacing: 0.065em;
    color: #D19F4E;
    text-align: center;
    margin: 15px auto;
}

.topmost-header div {
    position: absolute;
    /* 
    top: 0%; */
    right: 0%; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto 25px;
}

.topmost-header div span {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
    margin: auto 25px;
    color: #D19F4E;
}

.topmost-header div a.book-now {
    display: inline-block;
    margin: auto 25px;
    padding: 10px;
    background: #D19F4E;
    border: 2px solid #D19F4E;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

header nav {
    width: 100%;
    background-color: #21273D;
}

header nav ul {
    list-style-type: none;
    text-align: center;

}

header nav li {
    display: inline-block;
    margin: 20px;
}

header nav li a {
font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 1.2rem;
/* line-height: 32px; */
color: #F5FAFE;
text-decoration: none;
}

header nav li a:hover {
    text-decoration: underline;
}

header nav li a.active {
    color: #D19F4E;
}

.img-after-nav-bar {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.img-after-nav-bar img {
    width: 100%;
    height: auto;
    
}

.img-after-nav-bar div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #FFFFFF;
    
}

.img-after-nav-bar div h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.img-after-nav-bar div p {
    font-size: 1.5rem;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
}

.features div {
    background-color: #21273D;
    width: 45%;
    height: 400px;
    margin: 10px;
    overflow: hidden;
}

.features div.text {
    padding: 25px;    
}

.features div h2 {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 2rem;
line-height: 61px;
/* identical to box height */

letter-spacing: 0.065em;
text-transform: uppercase;

color: #ffffff;

}

.features div p {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 37px;
letter-spacing: 0.065em;

color: #ffffff;
}

.features div img {
    width: 100%;
    height: auto;
}

.features div:first-child {
    background-color: white;
}

.features div:first-child h2, .features div:first-child p {
    color: #000000;
    text-align: left;
}

.features div.text a.learn-more {
    display: inline-block;
    
    padding: 10px;
    background: #D19F4E;
    border: 2px solid #D19F4E;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}


footer {
    width: 100vw;
    margin-top: 25px;
    padding: 25px 100px 50px;
    background-color: #21273D;
}

footer * {
    font-size: 16px;
}

footer .footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

footer .footer-links div {
    margin: 15px;
}

footer .footer-links div h3 {
    margin-bottom: 25px;
}

footer .footer-links div a, footer .footer-links div p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: auto;
    text-decoration: none;
    color: white;
}

footer .footer-links div a:hover {
    text-decoration: underline;
}

footer hr {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(209, 159, 78, 0.5);
    border: 1px solid rgba(209, 159, 78, 0.5);
}

footer h2 {
    margin-top: 50px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.065em;
    color: #D19F4E;
}

footer p.copyright {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    text-align: left;
}

@media screen and (max-width: 750px) {
    .topmost-header {
        display: flex;
        flex-direction: column;
    }
    
    .topmost-header div {
        position: relative;
        margin: 0px auto 15px;
    }

    .topmost-header div h3 {
        font-size: 1rem;
    }

    header nav li {
        margin: 10px;
    }

    header nav li a {
        font-size: 12px;
    }

    .features {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features div {
        width: 90%;
    }

    .features div h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .features div p {
        font-size: 14px;
        line-height: 25px;
    }

    footer {
        padding: 25px;
    }

    footer .footer-links {
        display: block;
    }

    footer .footer-links .main-links {
        width: 40%;
        display: inline-block;

    }

    footer .footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

}